.search-form-input {
  background-color: rgb(231, 242, 247);
  border: none;
  border-radius: 6px;
  width: 80%;
  font-size: 16px;
  padding: 15px 20px;
}

.search-form-button {
  background-color: rgb(13, 115, 156);
  padding: 15px 30px;
  border: none;
  font-size: 16px;
  margin-left: 5px;
  border-radius: 6px;
  color: white;
}

body {
  font-family: Roboto, sans-serif;
}

header {
  border-bottom: 1px solid #f9f7fe;
  padding: 0 0 30px 0;
}

.weather-information {
  font-size: 16px;
  color: rgba(39, 33, 66, 0.4);
  line-height: 24px;
  font-weight: 500;
}

.weather-information strong {
  color: rgb(13, 115, 156);
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
}

.weather-app-temperature-container {
  display: flex;
}

.weather-app-temperature {
  font-size: 88px;
  line-height: 88px;
  font-weight: bold;
  margin-bottom: 50px;
}

.weather-app-unit {
  margin-top: 6px;
  font-size: 28px;
}

.weather-app-icon {
  width: 88px;
  height: 88px;
}
